/** Smaller devices only **/
@media (max-width:414px){
    /* Hide menu in mobile devices */
    .menu{
        display: none;
        position: absolute;
        background-color: #ffffff;
        left: 0;
        top: 38px;
    }
    .banner-text{
        display: none;
    }

    h2{
        font-size: 1em;
    }
    .boxes{
        padding: 15px;
    }
    .boxes .box{
        width: 90%!important;
        margin-bottom: 15px;
    }
    .box .icon{
        font-size: 20px;
    }

    figcaption{
        background-color: #9e9e9e42;
        padding: 5px;
    }

    #hero-banner{
        padding-top: 38px;
    }
    .inverted-heading {
        background-color: #2196f3;
    }

    .menu-handler{
        display: block!important;
    }

    /** pseudo selector with sibiling **/
    .menu-handler:focus-within + .menu{
        display: block;
    }


    .menu .menu-item{
        display: inline-block;
        padding: 8px;
        border-bottom: 1px solid #3333337d;
        min-width: 150px;
    }
    
}

/* Medium size devices ( iPad / Surface ) */
@media (min-width:768px) and (max-width:1024px){

    /* Align menu items to left */
    .menu-bar .menu{
        margin-left: 40px;
    }


}
/** Larger devices 
@media (min-width: 1025px){
    .menu-handler{
        display: none;
    }
}
**/
.menu-handler{
    display: none;
}